.spinner {
  animation-name: spin;
  animation-duration: 3000ms;
  animation-timing-function: linear; 
  animation-timing-function: ease;
}

*{
    transition: all ease-in-out 0.5s;
}

@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    10% {
        transform:rotate(-20deg);
    }
    20% {
        transform:rotate(0deg);
    }
    
    91% {
        transform:rotate(380deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 2px;
  border: 6px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}